@model ExpressForms.Filters.ExpressFormsFilterBool
@{
    Layout = "~/Views/Shared/ExpressFormsFilters/_FilterLayout.cshtml";
}

@{
    SelectListItem[] choices;
    if (Model.IsNullable)
    {
        choices = new SelectListItem[]
        {
            new SelectListItem() { Text="- All -", Value="truefalsenull"},
            new SelectListItem() { Text="True and False", Value="truefalse"},
            new SelectListItem() { Text="True And Null", Value="truenull"},
            new SelectListItem() { Text="False and Null", Value="falsenull"},
            new SelectListItem() { Text="True", Value="true"},
            new SelectListItem() { Text="False", Value="false"},
            new SelectListItem() { Text="Null", Value="null"}
        };        
    }
    else
    {
        choices = new SelectListItem[]
        {
            new SelectListItem() { Text="- All -", Value="truefalse"},                                    
            new SelectListItem() { Text="True", Value="true"},
            new SelectListItem() { Text="False", Value="false"},            
        };
    }
}

@{string divId = "divFilter_" + Model.FilterName; }

<div id='@divId' class='ExpressFormsFilterBoolDiv'>
    @Html.DropDownList(Model.FilterName, choices, new { @class = "ExpressFormsFilterBool" })
</div>