@using System.Data.Objects.DataClasses
@using System.Reflection
@model ExpressForms.ExpressFormsIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @Model.Title
</h1>

@if (Model.ShowAddNewButton)
{
    <p>
        @Html.ActionLink("Add New", "EditNew")
    </p>
}
    

@Html.WriteStaticTable(Model.Title, Model.IndexHeader, Model.IndexRecords)  