@using ExpressForms.Buttons
@using ExpressForms.Inputs
@using System.Data.Objects.DataClasses
@model ExpressForms.ExpressFormsEditorModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @* Write out the form inputs *@
    @foreach (var kvp in Model.Inputs)
    {
        <div>
            @Html.EfLabel(kvp.Value.InputName, kvp.Value.InputDisplayName)
            <br />
            @Html.Raw(kvp.Value.WriteInput(Html, new {}))
        </div>
    }
</div>

<div>        
    @* Write out the form buttons *@
    @foreach (string html in Model.ButtonHtml)
    {                    
        @Html.Raw(html)
    }    
</div>

<div>
    @Html.ActionLink("Go Back", "Index")
</div>

